* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: grid;
   background-color: white;
   color: white;
   text-align: center;
   font-family: "Schoolbell", cursive;
   font-weight: 400;
   font-style: normal;
}

.header {
   display: grid;
   grid-template-columns: 1fr 1fr;
   background-color: black;
   color: white;
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#headerText {
   align-content: center;
}

#headerAddBtn {
   align-self: right;
}

#addBookBtn {
   background-color: white;
   font-size: x-large;
   padding: 10px;
}


.books-container {
   padding: 20px 20px 40px 20px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap: 20px;
}

.books {
   background-color: black;
   color: white;
   padding: 20px;
   height: 150px;
   border-radius: 10px;
   border: 1px solid white;
}

.title {
   font-weight: bold;
   padding-bottom: 10px;
}

.author-and-pages {
   display: grid;
   grid-template-columns: 1fr 1fr;
   color: #828a92;
}

.status-and-delete {
   display: flex;
   justify-content: space-between;
   margin-bottom: 12px;
   
}

.read {
   background-color: black;
   color: white;
   border: 1px solid white;
}

.delete {
   background-color: black;
   color: white;
   border: 1px solid white;
}

.status-and-delete button {
   border-radius: 5px;
   padding: 5px;
   font-size: x-small;
}

#dialogModal {
   width: 300px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #f5f5f5;
   border: none;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
}

#inputForm {
   padding: 20px;
}

.input .main-container {
   background-color: 2b2d42;
}

input {
   padding: 5px 15px 5px 15px;
   margin: 10px;
}

.actions {
   margin-top: 20px;
}

.actions button {
   padding: 5px;
}